swc/Makefile
*.a
*.dll
*.ilk
*.o
*.obj
*.os
*.pc
*.pdb
*.pyc
*.pyo
*.so
*.tar
*.tar.bz2
*.tar.gz
*.zip
*~
depend
depend.bak
lib
lib64
configure
autom4te.cache
aclocal.m4
config.log
config.status
cscope*
.scon*
config.py
build
manifest.txt
.dir-locals.el
*.pbxuser
*.perspectivev3
*.mode1v3
.svn
*.ncb
*.user
*.suo
*.dSYM
xcuserdata
*.xcworkspace
*.out
.DS_Store
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
.project
.cproject
glsl_main
glsl_test
glcpp
glslopt
glsl_compiler
swc/*.abc
swc/*.swc
bin-debug
bin-release
.settings/
.pydevproject
