demos/lion
demos/sp
trivial/arc
trivial/cap
trivial/clear
trivial/coord
trivial/dash
trivial/ellipse
trivial/filter
trivial/gradorigin
trivial/lineto
trivial/lingrad
trivial/lookup
trivial/mask4
trivial/mask
trivial/path3
trivial/radialgrad
trivial/readpixels
trivial/roundedrect
trivial/star-nonzero
trivial/star-oddeven
trivial/stroke2
trivial/stroke
trivial/vguarc
