debug/
debug static crt/
release/
release static crt/
gdi/Debug/
gdi/Debug Static CRT/
gdi/Release/
gdi/Release Static CRT/
gdi/*.user
glsl_apps_compile/Debug
glsl_apps_compile/Release
glsl_apps_compile/*.user
glu/Debug/
glu/Debug Static CRT/
glu/Release/
glu/Release Static CRT/
glu/*.user
mesa.ncb
mesa.suo
mesa/Debug/
mesa/Debug Static CRT/
mesa/Release/
mesa/Release Static CRT/
mesa/*.user
osmesa/Debug/
osmesa/Debug Static CRT/
osmesa/Release/
osmesa/Release Static CRT/
osmesa/*.user

