.deps
COPYING
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
ylwrap
install-sh
missing
stamp-h1
libtool
ltmain.sh
Makefile
*.o
*~
glsl_lexer.cpp
glsl_parser.output
glsl_parser.cpp
glsl_parser.h
glsl
mesa_codegen.cpp
mesa_codegen.h
