debug/
debug static crt/
release/
release static crt/
demos/Debug/
demos/Debug Static CRT/
demos/Release/
demos/Release Static CRT/
demos/*.user
glut/Debug/
glut/Debug Static CRT/
glut/Release/
glut/Release Static CRT/
glut/*.user
progs.ncb
progs.suo

